.info__container{
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    max-width: 35em;
    margin: 2em;
}
.info__brand{
    color: #c7c7c7;
    font-size: 1.1rem;
    margin-bottom: 1em;
}
.info__title{
    margin-bottom: 1em;
    margin-left: 1em;
}
.info__description{
    margin-bottom: 2em;
}
.info__price-counter{
    display: flex;
    justify-content: space-between;
    max-width: 20em;
}
.info__price{
    width: 50%;
}
.info__price-label{
    color: #c7c7c7;
    margin-bottom: .6em;
    font-weight: 400;
}
.info__price-value{
    font-size: 1.1rem;
    font-weight: 600;
    margin-left: .9em;
}
.info__counter{
    display: flex;
    gap: .7em;
    margin-bottom: 1.3em;
    align-items: center;
}
.info__sum{
    background: none;
    width: 2.2em;
    aspect-ratio: 1;
    border: 1px solid #dcd9d9;
}
.info__btn{
    background: #f85555;
    color: #fff;
    font-size: 1.1rem;
    margin-bottom: 2.5em;
    padding: .7em;
    max-width: 18.4em;
    width: 100%;
}
