.similar__contain{
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    align-items: center;
    justify-content: center;
}
.similar__name{
    color: #f85555;
    text-align: center;
    margin: 2em;
}

.similar__container{
    margin-bottom: 1em;
}