.header__container{
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding:1em;
    border-bottom: 1px solid #dcd9d9;
}
.header__list{
    display: flex;
    gap: 1.5em;
}
h6{
    font-size: medium;
    margin: 0;
}
.header__item{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 3em;
    font-size: 1.4rem;
    color: rgba(0, 0, 0, 0.619);
}
.header__logo{
    color: #f85555;
}