.slider__center{
    display: flex;
    justify-content: center;
}
.product__slider-info{
    margin-top: 2.5em;
    margin-bottom: 2em;
    display: flex;
    flex-wrap: wrap;
    margin-left: 2em;
    gap: 2em;
    justify-content: center;
}